amqp==2.6.1
appdirs==1.4.3
asn1crypto==0.24.0
astroid==2.1.0
asttokens==1.1.13
automationhat==0.2.0
beautifulsoup4==4.7.1
billiard==3.6.4.0
blinker==1.4
blinkt==0.1.2
buttonshim==0.0.2
cap1xxx==0.1.3
celery==4.4.7
certifi==2020.6.20
chardet==3.0.4
click==7.0
colorama==0.3.7
colorzero==1.1
configparser==5.0.2
cookies==2.2.1
cryptography==2.6.1
cycler==0.10.0
decorator==4.3.0
docker-pycreds==0.4.0
docutils==0.14
drumhat==0.1.0
entrypoints==0.3
envirophat==1.0.0
et-xmlfile==1.0.1
explorerhat==0.4.2
flask==1.1.2
fourletterphat==0.1.0
gevent==20.6.2
gitdb==4.0.5
gitpython==3.1.14
gpiozero==1.5.1
greenlet==1.1.0
grpcio==1.37.1
guizero==0.6.0
gunicorn==20.0.4
html5lib==1.0.1
idna==2.10
importlib-metadata==4.0.1
ipykernel==4.9.0
ipython-genutils==0.2.0
ipython==5.8.0
isort==4.3.4
itsdangerous==0.24
jdcal==1.4.1
jedi==0.13.2
jinja2==2.11.3
jupyter-client==5.2.3
jupyter-core==4.4.0
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.0.1
kombu==4.6.11
lazy-object-proxy==1.3.1
logilab-common==1.4.2
lxml==4.3.2
markupsafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
microdotphat==0.2.1
mote==0.0.4
motephat==0.0.3
mpi4py==3.0.3
mypy-extensions==0.4.1
mypy==0.670
nudatus==0.0.4
numpy==1.16.2
oauthlib==2.1.0
olefile==0.46
opencv-python==4.5.1.48
paho-mqtt==1.5.0
pantilthat==0.0.7
parso==0.3.1
pathtools==0.1.2
pexpect==4.6.0
pgzero==1.2
phatbeat==0.1.1
pianohat==0.1.0
picamera==1.13
pickleshare==0.7.5
picraft==1.0
piglow==1.2.5
pigpio==1.44
pillow==5.4.1
pip==18.1
promise==2.3
prompt-toolkit==1.0.15
protobuf==3.15.5
psutil==5.5.1
pycairo==1.16.2
pycodestyle==2.4.0
pycrypto==2.6.1
pyflakes==2.0.0
pygame==1.9.4.post1
pygments==2.3.1
pygobject==3.30.4
pyinotify==0.9.6
pyjwt==1.7.0
pylint==2.2.2
pyopenssl==19.0.0
pyparsing==2.2.0
pyserial==3.4
python-apt==1.8.4.1
python-dateutil==2.7.3
pytz==2021.1
pyxdg==0.25
pyyaml==3.13
pyzmq==17.1.2
qtconsole==4.3.1
rainbowhat==0.1.0
requests-oauthlib==1.0.0
requests==2.24.0
responses==0.9.0
roman==2.0.0
rpi.gpio==0.7.0
rtimulib==7.2.1
ruamel.yaml.clib==0.2.0
ruamel.yaml==0.16.10
scrollphat==0.0.7
scrollphathd==1.2.1
secretstorage==2.3.1
semver==2.0.1
send2trash==1.5.0
sense-emu==1.1
sense-hat==2.2.0
sentry-sdk==1.0.0
setuptools==40.8.0
shortuuid==1.0.1
simplegeneric==0.8.1
simplejson==3.16.0
six==1.15.0
skywriter==0.0.7
smmap==3.0.5
sn3218==1.2.7
soupsieve==1.8
spidev==3.4
ssh-import-id==5.7
subprocess32==3.5.4
thonny==3.2.6
torch==1.4.0a0+7f73f1d
torchvision==0.5.0a0+85b8fbf
tornado==5.1.1
touchphat==0.0.1
traitlets==4.3.2
twython==3.7.0
typed-ast==1.3.1
typing-extensions==3.10.0.0
uflash==1.2.4
unicornhathd==0.0.4
urllib3==1.25.9
vine==1.3.0
wandb==0.10.30
wcwidth==0.1.7
webencodings==0.5.1
werkzeug==1.0.1
wheel==0.32.3
wrapt==1.10.11
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0